.ge-placemat {
    overflow: visible;
    --selection-border-radius: 6px;
}

.ge-placemat__content-container {
    flex-grow: 1;
    border-color: rgba(25,25,25,1.0);
    border-radius: var(--border-radius);
    border-width: 1px;
    overflow: hidden;
}
