.blackboardFieldPropertyView > .rowView {
    flex-direction: row;
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.blackboardFieldPropertyView > .rowView > .rowViewLabel {
    min-width: 50px;
    font-size: 11px;
}

.blackboardFieldPropertyView * {
    font-size: 11px;
}

.blackboardFieldPropertyView > .rowView > .rowViewControl {
    flex: 1;
}
