.searcher-graph-view {
    padding: 5px;
    height: auto;
    min-width: auto;
    min-height: auto;
}

.searcher-graph-view #contentViewContainer,
.searcher-graph-view Layer,
.searcher-graph-view .ge-node {
    position: relative;
}
